<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Real or Slop{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script defer src="https://unpkg.com/alpinejs" ></script>
    <script defer src="https://umami-tpur.onrender.com/script.js" data-website-id="dbc4822d-cd2b-4b1d-9fa6-6c1e82108863"></script>
</head>
<body>
<!-- Header Section -->
<header>
    <nav class="bg-gray-800 text-white p-4 items-stretch">
        <ul class="flex space-x-4">
            <li><a href="/">Home</a></li>
            <li><a href="/learn-more">Learn more</a></li>
            <li><a href="/about">About Me</a></li>
        </ul>
    </nav>
</header>

{% block content %}
{% endblock %}
<!-- Footer Section -->

<footer class="text-center text-sm text-gray-500 py-5">
    Found a bug? @ me on <a class="text-blue-500 underline" href="https://x.com/caslerbiz">X/Twitter</a> or <a class="text-blue-500 underline" href="https://github.com/MrCasler/realorslop.fun/issues">Report it on GitHub</a>
    <p>&copy; 2025 Real or Slop. All rights reserved.</p> 
</footer>
</body>
</html>
